<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/allbookings" method="POST">
        <button type="submit">View all bookings</button>
    </form>
    <form action="/normalbookings" method="POST">
        <button type="submit">View normal bookings</button>
    </form>
    <form action="/plusbookings" method="POST">
        <button type="submit">View plus bookings</button>
    </form>
</body>
</html>