<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Park Guide</title>
    <link rel="stylesheet" href="/styles/main.css">
    <meta charset="utf-8">
    <title>Wildlife Sanctuary</title>
  </head>
  <body>
    <div class="nav">
      <h1>WILDLIFE SANCTUARY</h1>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/">Park Guide</a></li>
      </ul>
    </div>
    <div class="content">
      <div class="contentTitle">
        <h2>BOOKING GUIDE</h2>
      </div>
      <ul>
        <li>A maximum of 4 tickets are allocated for prior reservation per day.</li>
        <li>Reserved tickets to be paid at park itself.</li>
        <li>All costs are in INR.</li>
        <li><div class="tickets">
          Ticket cost-
          <ul>
            <li>Admission: ₹450.00</li>
            <li>Admission plus: ₹500.00</li>
          </ul>
        </div></li>
        <li>Admission ticket allows sightseeing over all areas of the park.</li>
        <li>Admission ticket allows sightseeing over all areas of the park and meeting Animal Representatives.</li>
        <li>Reservations are subject to cancellation without prior consent.</li>
      </ul>
    </div>
    <div class="footer">
      <p>Copyright 2018 by Wildlife Sanctuary</p>
    </div>
  </body>
</html>
