<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Wildlife Sanctuary</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  
<nav class="green darken-4" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="#" class="brand-logo white-text">TheGreenPark</a>
    <ul class="right hide-on-med-and-down">
      <li>
        <a href="/" class="white-text">Home</a>
      </li>
      <li>
        <a href="#" class="white-text">Activities</a>
      </li>
      <li>
        <a href="book" class="white-text">Book Tickets</a>
      </li>
      <li>
        <a href="guide" class="white-text">Park Guide</a>
      </li>
      <li>
        <a href="#" class="white-text">Login</a>
      </li>
    </ul>

    <ul id="nav-mobile" class="sidenav">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="#">Activities</a>
      </li>
      <li>
        <a href="book">Book Tickets</a>
      </li>
      <li>
        <a href="guide">Park Guide</a>
      </li>
      <li>
        <a href="#">Login</a>
      </li>
    </ul>
    <a href="#" data-target="nav-mobile" class="sidenav-trigger">
      <i class="material-icons">menu</i>
    </a>
  </div>
</nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <!-- <h1 class="header center green-text text-lighten-2">Parallax Template</h1> -->
        <div class="row center">
          <!-- <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5> -->
        </div>
        <div class="row center">
          <!-- <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light green lighten-1">Get Started</a> -->
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="wild1.jpg" alt="wildlifeimage"></div>
  </div>


  <div class="container">
    <div class="section">

      <h1 class="header center green-text text-darken-2">About us</h1>
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <!-- <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2> -->
            <h5 class="center">See the nature</h5>

            <p class="light">At TheGreenPark, we keep the animals as nature intended. Enjoy the experience of seeing animals as they are, in their natural life.</p>
            <a href="#" class="right">Learn more</a>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <!-- <h2 class="center brown-text"><i class="material-icons">group</i></h2> -->
            <h5 class="center">Meet the nature</h5>

            <p class="light">Meet the animal ambassadors. The represent the animal kingdom and provide a great learning experience to kids and adults alike.</p>
            <a href="#" class="right">Learn more</a>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <!-- <h2 class="center brown-text"><i class="material-icons">settings</i></h2> -->
            <h5 class="center">Fun activities</h5>

            <p class="light">Want to feed a kangaroo, to pet a snake? At TheGreenPark we provide a safe and a fun way to try these activities.</p>
            <a href="#" class="right">Learn more</a>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12">The ferocity of a crocodile, seen right here at TheGreenPark</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="croc-feeding.jpg" alt="Crocodiles are having lunch"></div>
  </div>


  <footer class="page-footer green darken-4">
    <div class="container">
      <div class="section">
    
        <div class="row">
          <div class="col s12 center">
            <h1 class="header center text-lighten-2">Contact us</h1>
            <p class="col s12 m6 l6">Phone: SomeDigits</p>
            <p class="col s12 m6 l6">Email: TheGreenPark@SomeDomain.com</p>
            <p class="col s12">Address: SomePlace at SomeTown, in SomeState, SomeCountry</p>
          </div>
        </div>
    
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      <span>TheGreenPark 2018 &copy;</span>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
 </body>
</html>
