<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Downloading</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
  </head>
  <body>
    <p>Downloading torrent</p>
    <p>Progress: </p>
    <p id="progress">-</p>
    <p>Download speed: </p>
    <p id="downspeed">-</p>
    <script src="/controllers/chat.js"></script>
  </body>
</html>
